
.editor {
  width: 100%;
  display: flex;
  justify-content: space-between;
  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  width: 60%;
  
  background-color: rgba(#000, 0.3);
  border-radius: 10px;
  box-shadow: 0px 0px 18px #818181 ;
  padding: 20px;
  @media (max-width: 800px) {
    width: 100%;
    margin-bottom: 25px;
  }
}

.text {
  color: #fff;
  font-size: 23px;
  letter-spacing: 2px;
  line-height: 1.2;
  min-height: 300px;
  outline: transparent;
  resize: none;
  width: 100%;
  background-color: transparent;
  border: none;
  &::selection {
    color: black;
    background-color: #00d8ff;
  }
  &::-moz-selection {
    color: black;
    background-color: #00d8ff;
  }
}

.preview {
  color: #fff;
  padding: 25px;
  font-size: 26px;
}

.send {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-left: auto;
  padding: 1px 35px;
  background-color: #00d8ff;
  border-radius: 5px;
  font-weight: 700;
  line-height: 30px;
  height: 30px;
  margin-bottom: 20px;
  margin-right: 20px;
  font-size: 21px;
  transition: box-shadow 0.3s ease-in;
  &:not(:disabled) {

    &:hover {
      box-shadow: 0px 0px 8px #fff;
    }
  }
  &:disabled {
    opacity: 0.2;
    cursor: auto;
  }
}