@font-face {
  font-family: "Butler";
  font-weight: 400;
  font-style: normal;
  src: url('fonts/Butler_Regular_Stencil.otf');
}
@font-face {
  font-family: "Butler";
  font-weight: 700;
  font-style: normal;
  src: url('fonts/Butler_Bold_Stencil.otf');
}