@font-face {
  font-family: "Butler";
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Butler_Regular_Stencil.woff');
}
@font-face {
  font-family: "Butler";
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Butler_Bold_Stencil.woff');
}